{
  "extends": [
    "eslint:recommended",
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "plugins": [
  ],
  "rules": {
    "no-console": 0
  }
}
